.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  border: solid 1px #e8e8e8;
  background-color: white;
  padding: 1.813rem 6.25rem;
  min-width: 85rem;
  margin-bottom: 2.375rem;
}

.links {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.nav h1 {
  font-size: 1.875rem;
  font-weight: bold;
  color: #0290ff;
}

.nav a {
  color: #121212;
  font-size: 0.813rem;
  text-decoration: none;
  font-weight: normal;
}

.nav img {
  height: 3rem;
}
